@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

html,body{
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spline Sans", sans-serif;
}

.main{
  display: flex;
  height: 100vh;
}

.logo{
  padding: 10px;
  margin-top: 20px;
  display: flex;
  
  gap: 10px;
}

.user{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  padding: 10px;
  width: fit-content;
  border: 2px solid rgb(222, 222, 222);
}

.user img{
  height: 40px;
  width: 40px;
}

.user .role{
  font-size: 14px;
  color: gray;
}

aside{
  width: 22%;
  min-width: 250px;
  height: 100vh;
  border-right: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 20px;
}

.menu p{
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
  padding-left: 10px;
}
.menu p img{
  height: 30px;
  width: 30px;
}

.menu p i{
  font-size: 24px;
  color: rgb(137, 150, 163);
}

.menu p:hover {
  background-color: #D3F7B5;
  color: rgb(0, 0, 0);
}


.contact {
  background-color: white;
  padding: 16px;
  border-radius: 12px;
  font-size: 14px;
}

.contact img {
  margin-top: 250px;
  width: 32px;
  margin-bottom: 10px;
  line-height: 100px;
}

.contact h3 {
  /* margin-bottom: 6px; */
  font-size: 16px;
}

.contact button{
  margin-top: 35px;
  padding-left: 20px;
  width: 150px;
  padding: 8px 12px;
  background-color: #1F4451 ;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;

}

.btn{
  padding-left: 20px;
  width: 150px;
  padding: 8px 12px;
  background-color: #ffffff ;
  color: #000000;
  border: 2px solid #B5BDCD ;
  border-radius: 6px;
  cursor: pointer;
}

#right-section{
  flex: 1;
  background-color: #d9e8c6;
  padding: 40px 40px;
}

.breadcrumb{
  display: flex;
  gap: 21px;
  font-size: 14px;
  margin-bottom: 20px;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav input{
  padding: 8px 12px;
  width: 250px;
  border: 2px solid lightgray;
  border-radius: 6px;
}

#right-section i{
  position: relative;
  left: 1340px;
  top: -48px;
  color: rgb(134, 124, 124);
}

.document-list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.doc-table {
  border: 1px solid #e5e7eb;
  overflow: hidden;
  font-size: 14px;
  background-color: white;
}

.doc-header,
.doc-row {
  display: grid;
  grid-template-columns: 50% 20% 20% 10%;
  align-items: center;
  padding: 22px 20px;
}

.doc-header {
  background-color: #f8fafc;
  font-weight: 600;
  background-color: grey;
}

.doc-row {
  border-top: 1px solid #e5e7eb;
}

.doc-table {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
  font-size: 14px;
}

.doc-header,
.doc-row {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 1fr; /* last column for button */
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}


.doc-header {
  background-color: #f8fafc;
  font-weight: 600;
}

.checkbox i{
  position: relative;
  top: 20px;
  font-size: 16px;
  left: 2px;
  color: rgb(134, 124, 124);

}
.doc-row {
  border-top: 1px solid #e5e7eb;
}

.doc-row:hover {
  background-color: #becfde;
}

.doc-action {
  display: flex;
  justify-content: flex-end;
}

.doc-status{
  padding: 6px 12px;
  border: 1px solid #E8ECF1;
  background-color: #E8ECF1;
  border-radius: 12px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  text-align: center;
  width: fit-content;
}

.doc-status2{
  padding: 6px 12px;
  border: 1px solid #D3F7B5 ;
  background-color: #D3F7B5;
  border-radius: 12px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  text-align: center;
  width: fit-content;
}

.signing{
  /* margin-top: 35px; */
  padding-left: 20px;
  width: 115px;
  padding: 8px 12px;
  background-color: #1F4451 ;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}