body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #000000;
}

.heading{
    color: grey;
    /* font-size: 30px; */
}

.logo{
    width: 300px;
    background-color: rgb(215, 29, 26);
    height: 100px;
    /* border-radius: 50%; */

}

.logo img{
    width: 100%;
    height: 100%;
}

.lights {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.time {
    user-select: none;
}


.start{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background: rgb(163, 171, 163);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.start:hover{
    background: rgb(100, 100, 100);
}

.red.active{
    background: red;
    box-shadow: 0 0 20px red;
}   

.green.active{
    background: green;
    box-shadow: 0 0 20px green;
}

.stop{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background: rgb(163, 171, 163);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.stop:hover{
    background: rgb(100, 100, 100);
}

.control {
  margin-top: 20px;
  width: 120px;
  height: 45px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.control.running {
  background: red;
  color: white;
}
